# Auth service
auth/node_modules

# Tickets service
tickets/node_modules

# Expiraion service
expiration/node_modules

# Orders service
orders/node_modules

#Client
client/node_modules

#Common
common/node_modules
common/build

# nats-test
nats-test/node_modules
